@using NETCoreWebApplication.Controllers
@using NETCoreWebApplication.Models
@model InsertShoeModel
@{
    ViewData["Title"] = "Contact";
    HomeController hc = new HomeController();
}

<div class="container">
    
    @using (Html.BeginForm("InsertShoe", "Home", FormMethod.Post, new { enctype = "multipart/formdata" }))
    {

    <div class="row" style="padding-top:70px;">
        <h2>Insert Shoe</h2>
        <hr />
        <div class="col-md-8 jumbotron">
            <div class="col-md-6">
                <div class="form-horizontal text-center" style="padding-right:30px;">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Name)
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", style = "border-right-style:none; border-left-style:none; border-top-style:none;" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.ShoeSize)
                        @Html.DropDownListFor(x => x.ShoeSize, hc.ShoeSizeList, "Select Size", new { @class = "form-control", style = "border-right-style:none; border-left-style:none; border-top-style:none;" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Type)
                        @Html.TextBoxFor(x => x.Type, new { @class = "form-control", style = "border-right-style:none; border-left-style:none; border-top-style:none;" })
                    </div>

                    <div class="form-group">
                        <button role="button" class="btn btn-success btn-effect" value="InsertShoe">
                            <span>Insert Shoe</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Make)
                        @Html.TextBoxFor(x => x.Make, new { @class = "form-control", style = "border-right-style:none; border-left-style:none; border-top-style:none;" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Color)
                        @Html.DropDownListFor(x => x.Color, hc.ColorList, "Select Color", new { @class = "form-control", style = "border-right-style:none; border-left-style:none; border-top-style:none;" })
                    </div>
                </div>

            </div>
        </div>

    </div>


    }
</div>