@using NETCoreWebApplication.Models
@using NETCoreWebApplication.Controllers
@model InsertPersonModel
@{
    ViewData["Title"] = "Insert Person";
    HomeController hc = new HomeController();
    
}

<div class="container">
    @using (Html.BeginForm("InsertPerson", "Home", FormMethod.Post, new { enctype = "multipart/formdata" }))
    {

    <div class="row" style="padding-top:100px;">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-horizontal text-center jumbotron">
                <h2>Insert Person</h2>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(x => x.Name)
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", style = "border-right-style:none; border-left-style:none; border-top-style:none;" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Age)
                    @Html.DropDownListFor(x => x.Age, hc.AgeList, "Select Age", new { @class = "form-control", style = "border-right-style:none; border-left-style:none; border-top-style:none;" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Gender)
                    @Html.DropDownListFor(x => x.Gender, hc.GenderList, "Select Gender", new { @class = "form-control", style = "border-right-style:none; border-left-style:none; border-top-style:none;" })
                </div>
                <div class="form-group">
                    <button role="button" class="btn btn-success btn-effect" value="Register">
                        <span>Register Person</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    
    }
</div>

